<div class="recipe-container" (click)="onRecipeSelected()">
    <p class="title">{{ recipe.title }}</p>
    <div class="photo-wrapper">
        <app-recipe-image [recipe]="recipe"></app-recipe-image>
    </div>
    <div class="rating">
        <i class="material-icons"> star_border </i>
        <i class="material-icons"> star_border </i>
        <i class="material-icons"> star_border </i>
        <i class="material-icons"> star_border </i>
        <i class="material-icons"> star_border </i>
    </div>
</div>