<div class="main-container">
    <header class="recipe-header">
        <app-menu></app-menu>
        <app-search [typingValue]="searchText"></app-search>
    </header>
    <app-logo></app-logo>

    <main class="recipe-container recipe-desc">
        <app-rating [recipe]="recipePreview"></app-rating>
        <h4>{{ recipePreview.title }}</h4>

        <div class="cell">
            <div class="photo-wrapper">
                <app-recipe-image [recipe]="recipePreview"></app-recipe-image>
            </div>
        </div>

        <div class="cell desc">
            <p>
                <span class="row description ingredients"
                      [class.is-disabled]="!isDisabledIngredients">{{ recipePreview.ingredients.join(' ') }} </span>
                <i class="material-icons"
                   [class.is-disabled]="!isDisabledIngredients"
                   (click)="onEditIngredients()">edit</i>
                <i class="material-icons"
                   [class.is-disabled]="isDisabledIngredients">save</i>
            </p>


            <p>
                <textarea class="row description"
                          [(ngModel)]="recipePreview.description"
                          [disabled]="isDisabledDesc"
                          [class.is-disabled]="!isDisabledDesc">{{ recipePreview.description }}</textarea>

                <i class="material-icons"
                   [class.is-disabled]="!isDisabledDesc"
                   (click)="onEditDescription()">edit</i>
                <i class="material-icons"
                   [class.is-disabled]="isDisabledDesc"
                   (click)="onSaveDescription()">save</i>
            </p>


        </div>
    </main>

    <footer></footer>
</div>