.recipe-container {
  border: 1px solid #d3d3d3;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 1rem 0;
}

.recipe-desc {
  display: flex;
}

h4 {
  margin: 0;
}

.description {
  font-size: 80%;
  margin: 0.25rem;
  color: #808080;
}

li {
  list-style-type: none;
}

.cell {
  display: inline-block;
}

.row {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.desc {
  vertical-align: top;
}

.photo-wrapper {
  width: 12rem;
  height: 12rem;
}

.rating {
  float: right;
}

i {
  display: inline-block;

  color: #808080;
  cursor: pointer;
}

i.is-disabled {
  color: #d3d3d3;
}

textarea {
  display: inline-block;
  padding: 0.25rem;
  resize: none;
  border: none;
  min-height: 5rem;
  height: auto;
}

textarea:focus {
  resize: none;
  white-space: normal;
}

textarea.is-disabled {
  outline: 1px solid #d3d3d3;
}

input {
  width: 5rem;

  padding: 0.25rem;
  border: 1px solid #d3d3d3;
}

input:focus,
button:focus {
  outline: none;
}

.del-ins {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border: 1px solid #d3d3d3;
  border-radius: 50%;
  margin: 0.25rem;
}

.del:hover {
  box-shadow: inset 0px 0px 0px 2px rgba(240, 66, 86, 0.3);
  color: rgba(240, 66, 86, 0.8);
}

.ins:hover {
  box-shadow: inset 0px 0px 0px 2px rgba(7, 155, 64, 0.3);
  color: rgba(7, 155, 64, 0.8);
}

.is-through-lined {
  text-decoration: line-through;
}

.hint {
  display: block;
  margin-left: 1.5rem;
  font-size: 70%;
  color: red;
}
