.recipe-container {
  position: table;
}

.recipe-desc {
  border: 1px solid #d3d3d3;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 1rem 0;
}

h4 {
  margin: 0;
}

.description {
  font-size: 80%;
  margin: 0.25rem;
  color: #808080;
}

li {
  list-style-type: none;
  margin-left: 5rem;
}

.cell {
  display: table-cell;

  padding: 0.25rem;
}

.desc {
  width: 10rem;
  vertical-align: top;
}

.photo-wrapper {
  width: 12rem;
  height: 12rem;
}

.rating {
  float: right;
}

i {
  display: inline-block;
  right: 5px;
  bottom: 5px;
  color: #808080;
  cursor: pointer;
}

input,
textarea {
  display: inline-block;
  resize: none;

  border: none;
  width: 8rem;
  min-height: 3rem;
}

input:focus,
textarea:focus {
  resize: none;
  white-space: normal;
}

p {
  white-space: nowrap;
}

textarea.is-disabled {
  outline: 1px solid #d3d3d3;
}

i.is-disabled {
  color: #d3d3d3;
}
