.horizont-line {
  width: 1.5rem;
  height: 2px;
  margin-bottom: 0.5rem;
  background: var(--desc-color);
}
.menu-lines {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.menu-list {
  position: absolute;
  font-size: 85%;
  top: 2rem;
  width: 7rem;
  min-height: 2rem;
  background: rgba($color: var(--transparent-color), $alpha: 0.8);
  border: 1px solid var(--transparent-color);
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: -var(--desc-color);
}

.vertical-line {
  display: inline-block;
  width: 2px;
  height: 1.5rem;
  border: none;
  background: var(--desc-color);
  margin-right: 0.5rem;
}
