.main-container {
  width: 25rem;
  min-width: 10rem;
  margin: 10rem auto;
  background: white;
  box-shadow: 0px 0px 3px 3px rgba(10, 10, 10, 0.1);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

ul {
  margin: 0;
  padding: 0;
}
