.recipe-list {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
}
.recipe-item {
  cursor: pointer;
  margin: 0.5rem;
  display: inline-block;
  text-align: center;
}
