<div class="recipe-container recipe-desc">
    <app-rating [recipe]="recipeCurrent"></app-rating>

    <h4 class="title"
        (click)="onGoToClick($event)">{{ recipeCurrent.title }}</h4>

    <div class="desc-container">
        <div class="cell">
            <div class="photo-wrapper">
                <app-recipe-image [recipe]="recipeCurrent"
                                  (click)="onGoToClick($event)"></app-recipe-image>
            </div>
        </div>

        <div class="cell desc">

            <ul class="row">
                <i>Ingredients:</i>
                <li *ngFor="let item of recipeCurrent.ingredients; let ind = index">
                    {{ recipeCurrent.ingredients[ind] }}
                </li>
            </ul>

            <ul class="row">
                <i>Description:</i>
                <li>{{ recipeCurrent.description }}
                </li>
            </ul>

        </div>

    </div>

</div>