<div class="recipe-container recipe-desc"
     (click)="goTo($event)">
    <div class="rating">
        <i class="material-icons"
           *ngFor="let i of [1,2,3,4,5]"
           (click)="onChangeRate(i)">{{ i <= recipeCurrent.rating ? "star" : "star_border" }}</i>
    </div>
    <h4 class="title">{{ recipeCurrent.title }}</h4>

    <div class="desc-container">
        <div class="cell">
            <div class="photo-wrapper">
                <app-recipe-image [recipe]="recipeCurrent"></app-recipe-image>
            </div>
        </div>

        <div class="cell desc">

            <ul class="row">
                <i>Ingredients:</i>
                <li *ngFor="let item of recipeCurrent.ingredients; let ind = index">{{ recipeCurrent.ingredients[ind] }}
                </li>
            </ul>

            <ul class="row">
                <i>Description:</i>
                <li>{{ recipeCurrent.description }}
                </li>
            </ul>

        </div>

    </div>

</div>