/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Poppins", sans-serif;
  background: url(assets/backgr.jpg) no-repeat #d3dfe5;
  background-size: cover;
  overflow: auto;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.photo-wrapper {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  text-align: center;
  padding: 0;
  margin: 0;
}
.main-container {
  width: 25rem;
  min-width: 10rem;
  margin: 10rem auto;
  background: white;
  box-shadow: 0px 0px 3px 3px rgba(10, 10, 10, 0.1);
  border-radius: 0.25rem;
  padding: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}

.recipe-desc {
  border: 1px solid #d3d3d3;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 1rem 0;
}
