/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: url(assets/backgr.jpg) no-repeat #d3dfe5;
  background-size: cover;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.photo-wrapper {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
