.search-container {
  position: relative;
  float: right;
}
input {
  display: inline-block;
  border: none;
}

input:focus {
  outline: none;
  border: 1px solid #d3d3d3;
}

i {
  cursor: pointer;
  color: #808080;
  position: absolute;
  right: 0;
  top: 5px;
}
