<mat-form-field class="search-container">
    <input matInput
           type="search"
           placeholder="Search recipe..."
           [autocomplete]="auto">
    <i class="material-icons search-icon"
       routerLink="/searched">search</i>

    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of "
                    [value]="option.name + ' ' + option.surname">
            {{ option.name + " " + option.surname }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>