<div class="search-container">
    <input type="search"><i class="material-icons"
       (onModelChange)="onSearch($event)">search</i>


    <!-- <form>
        <mat-form-field>
            <input matInput
                   type="text"
                   placeholder="Search by Employees"
                   [formControl]="myControl"
                   [matAutocomplete]="auto" />

            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of users"
                            [value]="option.name + ' ' + option.surname">
                    {{ option.name + " " + option.surname }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form> -->

</div>