<div class="main-container">

    <header class="recipe-header">
        <app-menu></app-menu>
        <app-search></app-search>
    </header>
    <h2>RecipeApp</h2>
    <app-slider (sliderRecipeSelected)="onRecipeSelected($event)"
                [rateSlider]="rateHome"
                [isRatedSlider]="isRatedHome"></app-slider>

    <main class="recipe-desc">
        <app-current-recipe [recipeCurrent]="recipeHome"
                            (rateChangedCurrent)="onChangeRate($event)"></app-current-recipe>

    </main>

    <footer></footer>

</div>